/* 
    Custom reset largely based on Eric Meyer, with my own font-family declaration:
    http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

        html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed, 
        figure, figcaption, footer, header, hgroup, 
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        article, aside, details, figcaption, figure, 
        footer, header, hgroup, menu, nav, section {
            display: block;
        }
        body {
            line-height: 1;
        }
        ol, ul {
            list-style: none;
        }
        blockquote, q {
            quotes: none;
        }
        blockquote:before, blockquote:after,
        q:before, q:after {
            content: '';
            content: none;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }


/* CUSTOM CSS */


html {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #292929;
    background-color: #eee; 
    background: url(images/background.jpg) no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


html * {
    box-sizing: border-box;
}

strong {
    font-weight: 500;
}

.blue {
    color: #1A8DFF;
}

.red {
    color: #FD156C;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik Mono One', Helvetica, Arial, sans-serif; 
    font-weight: 
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    padding: 2em 1em 4em 1em;
}

header img {
    width: 150px;
    height: auto;
    margin-right: 1em;
}

header h1 {
    font-size: 4em;
    color: #5F5F5F;
}

    @media screen and (max-width: 1300px) {
        header h1 {
            font-size: 3.5em;
        }
    }

    @media screen and (max-width: 1000px) {
        header h1 {
            font-size: 3em;
        }
    }

    @media screen and (max-width: 800px) {
        header h1 {
            font-size: 2em;
        }
    }

h1 span {
    font-size: .5em;
    display: inline-block;
    color: #FD156C;
}

main {
    width: 90%;
    max-width: 940px;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0 auto;
}

h2 {
    color: #FD156C;  
    padding-top: 2em;
    font-size: .9em;
    line-height: 1.5em;
}

main article {
    width: 69%;
    padding-right: 10%;
}

article a {
    color: #006CFF;
}

article p {
    line-height: 1.8em;
}

article p.q {
    margin-bottom: 0;
    font-weight: 500;
    font-style: italic;
}

article h2 {
    padding-bottom: 1em;
}

article h3 {
    font-size: 0.8em;
    padding-top: .5em; 
    margin-bottom: .5em;
}

article h4 {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 1.8em;
}

p, ul, ol {
    line-height: 1.5em;
    margin-bottom: 1em;
}

ol {
    list-style: decimal;
    margin: -.5em 0 1em 2em;
}

li {
    margin-bottom: .5em;
}


aside {
    width: 31%;
    background: rgba(255,255,255,0.42);
    padding: 1em;
}

aside h2 {
    margin-bottom: 0.5em;
}

aside h3 {
    font-size: 7em;
    line-height: 1em;
    padding-bottom: .08em;
    border-bottom: .16em solid #fff;
    color: #464646;
    margin-bottom: -0.04em;
}


aside p {
    font-size: .7em;
    padding-bottom: 4em;
    line-height: 1.8em;
}


footer {
    font-size: .5em;
    padding: 8em 2em 2em 2em;
    
}



img[class*="star"] {
    position: absolute;
    z-index: -1;
    border: green;
}

img.star1 {
    top: 150px;
    left: -333px;
}

img.star2 {
    top: 550px;
    right: 0;
}

img.star3 {
    top: 120vh;
    left: 50%;
}

img.star4 {
    top: 1200px;
    left: 130px;
}

img.star5 {
    bottom: 500px;
    right: -142px;
}

img.star6 {
    bottom: -250px;
    left: 40%;
}

@media screen and (max-width: 600px) {
 
    main {
        flex-wrap: wrap;
    }
    
    main article,
    main aside {
        width: 100%;        
    }
}
}
    
    
